/* modal - custom alert message */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Basic styles for the modal */
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 200px; /* Adjust width as needed */
  text-align: center;
}

/* Basic styles for the close button */
.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background: #0056b3;
}

/* end of modal - custom alert message */

#refresh {
  /* position: absolute; */
  /* right: 10px;
  top: 70px; */
  color: #dbdbdb;
  /* vertical-align: middle; */
  font-size: 1.5em;
  margin-left: 5px;
  margin-top: -10px;
}

#refresh:hover {
  color: red;
  transition: .3s;
}

#refresh:active {
  transform: scale(1.25);
  transition: 0s;
}

.card-title {
  border-bottom: 1px solid #b5b5b5;
  border-top: 1px solid #b5b5b5;
  background-color: rgb(223, 223, 223);
  padding: 15px;
  transition: background-color .3s;
}

.card-title:hover {
  background-color: rgb(255, 188, 188);
  transition: .3s;
}

i {
  margin-left: 10px;
}

.post-count {
  color: springgreen;
}

.card {
  border-bottom: 2px solid black;
}

.info-bar {
  position: relative;
  margin-bottom: 5px;
  margin-top: -7px;
}

.info-bar > span > span {
  color: gray;
  font-size: .9em;
  cursor: default;
}


.card-body h6 {
  line-height: 1.5;
}

.impressions {
  position: absolute;
  left: 43%;
  cursor: default;
  /* bottom: 10px; */
}

.time {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comments {
  position: absolute;
  right: 10px;
}

#selectFileButton,
#file-message,
#homeButton,
.timer-div {
  display: none;
}

.popup2-h1 {
  text-align: center;
}

.timer-div h2 {
  margin: 10px auto;
}

#retrieveDataButton {
  visibility: hidden;
}

#file-message {
  text-align: center;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

.message-popup2 {
  font-size: 12px;
  color: red;
  text-align: center;
}

#spinner {
  display: none;
  margin: 20px auto;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #0586ff;
  color: white;
  padding: 0px 9px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color .3s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2600ff;
  transition: .3s
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #c9faf7;
  color: black;
  text-decoration: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the button is clicked) */
.show {
  display: block;
}
